[submodule "third_party/omr"]
	path = third_party/omr
	branch = "AOTRelocationsWIP-wabt-elf"
	url = git@github.ibm.com:Georgiy-Krylov/omr.git
[submodule "em-interp"]
	path = em-interp
	branch = "dev-jit-thunks"
	url = git@github.ibm.com:Georgiy-Krylov/em-interp.git
[submodule "wabtaot-private-additions"]
	path = wabtaot-private-additions
	branch = "main"
	url = git@github.ibm.com:Georgiy-Krylov/wabtaot-private-additions.git
