[submodule "third_party/omr"]
	path = third_party/omr
	branch = "AOTRelocationsWIP-wabt-elf"
	url = https://github.com/georgkrylov/omr.git
[submodule "em-interp"]
	path = em-interp
	branch = "dev-jit-thunks"
	url = https://github.com/georgkrylov/em-interp.git
[submodule "polybench"]
	path = polybench
	branch = "main"
	url = https://github.com/georgkrylov/polybench.git
[submodule "wabtaot-private-additions"]
	path = wabtaot-private-additions
	branch = "main"
	url = https://github.com/georgkrylov/wabtaot-private-additions.git
[submodule "third_party/gtest"]
	path = third_party/gtest
	url = https://github.com/google/googletest
[submodule "third_party/ply"]
	path = third_party/ply
	url = https://github.com/dabeaz/ply
[submodule "third_party/testsuite"]
	path = third_party/testsuite
	url = https://github.com/WebAssembly/testsuite